* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

@font-face {
  font-family: "godofwar";
  src: url("Font/GODOFWAR.TTF");
  }

.banner {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.video-view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video-view .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-view .video-content {
  position: absolute;
}
.glow-on-hover {
  font-family: 'godofwar', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  align-items: center;
  width: 220px;
  height: 100px;
  border: none;
  outline: none;
  color: #111;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 0px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.contbutton{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downbutton{
  font-family: 'godofwar', Arial, sans-serif;
  margin: 5vh;
  text-transform: uppercase;
  font-size: 30px;
  width: 30vh; 
  height: 10vh; 
  font-size: 2vh;
  border: none;
  outline: none;
  color: #111;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaximg1 {
  /* The image used */
  background-image: url("Images/background.jpg");
}

.parallaximg2 {
  /* The image used */
  background-image: url("Images/background1.jpg");
}

.parallaximg3 {
  /* The image used */
  background-image: url("Images/gowr.jpg");
}

.head {
  font-size: large;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.head2 {
  overflow: hidden;
  font-family: 'godofwar', Arial, sans-serif;
  font-size: 6vh;
  position: absolute;
  padding: 5vh;
  color: rgb(41, 216, 255);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  text-align: center;
}

.systemreq {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
